<!DOCTYPE html>
<html>
  <head>
    <%- include layout/page-header %>
  </head>
  <body>
    <h1> Hi, <%- userSession.username %></h1>
    Login sebagai: <%- userSession.role %>
  <ul>
    <% getUserAuth.forEach(ua => { %>
      <button id="btn-start" onclick="window.location='<%- ua %>'"><%- ua %></button>
    <% })%>
  </ul>
  <ul>
    <button id="btn-back" onclick="window.location='/logout'">Logout</button>

  </ul>
  </body>
</html>
