<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student Page</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>DATA MURID</h1>
    <button id="btn-start" onclick="window.location='student/add'">Tambah Data</button>
    <button id="btn-back" onclick="window.location='/'">Back</button>
    <div>
      <table border="1">
        <tr>
          <th>No</th>
          <th>Nama Depan</th>
          <th>Nama Belakang</th>
          <th>Email</th>
          <th>Jurusan</th>
          <th>Action</th>
        </tr>
        <% var no = 1; dataStudent.forEach(dst => {%>
          <tr>
            <td><%= no %> <% no+=1%></td>
            <td><%= dst.first_name %></td>
            <td><%= dst.last_name %></td>
            <td><%= dst.email %></td>
            <td><%= dst.jurusan %></td>
            <td><a href='student/edit/<%= dst.id %>'> Edit</a> || <a href='student/delete/<%= dst.id %>' onclick="return confirm('Yakin mau menghapus data ini?');"> Delete</a></td>
          </tr>
        <% }) %>
      </table>
    </div>
  </body>
</html>
