<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Subject Page</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>DATA MATA PELAJARAN</h1>
    <div>
      <button id="btn-start" onclick="window.location='subject/add'">Tambah Data</button>
      <button id="btn-back" onclick="window.location='/'">Back</button>
      <table border="1">
        <tr>
          <th>No</th>
          <th>Mata Pelajaran</th>
          <th>Pengajar</th>
          <th>Action</th>
        </tr>
        <% var no = 1; dataSubject.forEach(ds => {%>
          <tr>
            <td><%= no %> <% no+=1%></td>
            <td><%= ds.subject_name %></td>
            <%if (ds.Teachers.length != 0) {%>
              <td>
                <% for (var i = 0; i < ds.Teachers.length; i++ ) { %>
                  <% var no_guru = 1 %>
                  <%= i+1%>. <%= ds.Teachers[i].first_name %> <%= ds.Teachers[i].last_name %><br>
                <% } %>
              </td>
            <%} else {%>
              <td><center> - </center></td>
            <% } %>

            <td><a href='subject/edit/<%= ds.id %>'> Edit</a> || <a href='subject/delete/<%= ds.id %>' onclick="return confirm('Yakin mau menghapus data ini?');"> Delete</a></td>
          </tr>
        <% }) %>
      </table>
    </div>
  </body>
</html>
