<!DOCTYPE html>
<html>
  <head>
    <%- include layout/page-header %>
  </head>
  <body>
    <h1>Edit Data Guru</h1>
    <%- include layout/menu %>
    <br>
    <button id="btn-back" onclick="window.location='/teacher'">Back</button>
    <div>
      <form id="main-form" class="modal-content animate" name="mainForm" action="/teacher/edit/<%= data.id %>" method="post">
        <div class="container">
          <label><b>Id</b></label>
          <input type="text" name="id" value="<%= data.id %>" disabled/>
          <label><b>First Name</b></label>
          <input type="text" name="first_name" value="<%= data.first_name %>" />
          <label><b>Last Name</b></label>
          <input type="text" name="last_name" value="<%= data.last_name %>" />
          <label><b>Email</b></label>
          <input type="text" name="email" value="<%= data.email %>" />
          <label><b>Subject</b></label>
          <!-- <input type="text" name="SubjectId" value="<%= data.SubjectId %>" /> -->
            <select name="subject">
              <%if(data.SubjectId == null) {%>
                <option value="">Unassigned</option>
                <% data2.forEach(function(d2){ %>
                <option value="<%= d2.id %>"><%= d2.id %> <%= d2.subject_name %></option>
                <% }) %>
              <%} else {%>
                <option  value="<%= data.SubjectId %>" selected="<%= data.SubjectId %>"><%=data.Subject.subject_name %></option>
                <% data2.forEach(d2 => { %>
                  <option value="<%= d2.id %>"><%= d2.subject_name %></option>
                <% }) %>
              <%}%>
            </select>
          <div>
            <button type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
